html
{ 
  	background-color: #bafcdb;
  	display: block;
  	margin: 100px;
}
first {
	 text-align: center;
}
h2:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}
h3:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}
h4:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}
h5:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}
h6:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}
h7:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}

