html
{ 
  	background-color: #bafcdb;
  	display: block;
  	}
.first {
	 text-align: center;
}

h3:hover{
	background-color: #f7f9b8;
	color: yellow;
	font-family: 'Lato', cursive;}

td,th {
	padding: 20px;
	border: 1px solid black;
}

table{
	border-collapse: collapse;
}
